<div class="contenedor-nav">
    <div class="nav montserrat-regular">
        <a class="item-nav" routerLink="home" >Inicio</a>
        <a class="item-nav" routerLink="info" >¿Quien soy?</a>
        <a class="item-nav" routerLink="skill" >Habilidades</a>
        <a class="item-nav" routerLink="project" >Proyectos</a>
        <a class="item-nav" routerLink="jobs" >Experiencia Laboral</a>
    </div>
</div>

<router-outlet></router-outlet>
