<div class="contenedor">
    <div style="width: 100%; font-size: 25px; text-align: center;">
        <span class="petit-formal-script underlined">mis habilidades</span>
    </div>
    <!-- GALERIA DE IMAGENES DE HABILIDADES -->
    <div class="image-gallery">
        <div *ngFor="let skill of skills" class="gallery-item">
            <img [src]="app.urlImages + 'skills/' + skill.maneimg">
        </div>
    </div>
    

</div>
