.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 20px;
  width: 100%;
}

.gallery-item {
  flex: 1 1 calc(33.33% - 20px); /* Adjust the width as needed */
  max-width: 150px;
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}