.info p{
    color: blue;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.profile-img{
    width: 500px;
    height: 500px;
}


@media (max-width: 1445px) {
    /* … */
    .profile-img{
        width: 300px;
        height: 300px;
    }
}
  