<div class="contenedor">
    <div style="width: 100%; font-size: 25px;">
        <span class="petit-formal-script underlined">!Hola¡ Soy Juan Serrano</span>
    </div>
    <div style="width: 100%; position: relative; display: flex;">
        <div style="display: block; width: 40%;"></div>
        <div style="width: 60%; display: block;">
            <p class="montserrat-regular" style="text-align: justify;" >
                Soy Programador, a través de esta plataforma, 
                les doy la bienvenida a explorar mi portafolio, 
                donde compartiré mis logros, proyectos y experiencia en el 
                campo en el que he centrado mis esfuerzos en convertirme 
                en un programador analista Java altamente competente
            </p>
        </div>
    </div>
    <div style="width: 100%; position: relative; display: flex;">
        <div style="display: block; width: 50%;"></div>
        <div style="width: 50%; display: block;">
            <img class="profile-img" [src]="app.urlImages+'img/perfil.jpg'" onerror="this.src='./assets/img/noImage.png';" alt="">
        </div>
    </div>
    <div style="width: 100%; position: relative; display: flex;">
        <div class="montserrat-regular info" style="width: 60; display: block;">
            <p>Tel. : (503) 7394-0524</p>
            <p>Email:  juanserrano0895@gmail.com</p>
            <p>Dir. :   San Salvador, El Salvador</p>
        </div>
        <div style="display: block; width: 40%;"></div>
    </div>
</div>
