<div class="contenedor">
    <div style="width: 100%; font-size: 25px; text-align: center;">
        <span class="petit-formal-script underlined">experiencia laboral</span>
    </div>
    <div class="montserrat-regulart content-exp" >
        <div class="line-top"></div>
        <div class="sub-content" *ngFor="let ex of dataList" >
            <h3 class="montserrat-bold" >{{ex.companyName}}</h3>
            <p>{{ex.cargo}}</p>
            <h5 class="montserrat-regulart" >{{'Del '+ex.startYear + ' hasta '+(ex.currently?'actualmente':ex.endYear)}}</h5>
        </div>
    </div>
</div>
