.content-exp{
    width: 80%; 
    margin: auto; 
    padding-top: 25px;
}

.content-exp .sub-content{
    border-bottom: 2px solid #000; 
    padding-left: 50px; 
    padding-top: 5px; 
    padding-bottom: 3px;
}

.content-exp .line-top{
    border-top: 2px solid #000; 
    padding-left: 50px; 
    padding-top: 5px;
}

.sub-content h3{
    margin-top: 0;
}

.sub-content h5{
    margin: 0;
}

.sub-content p{
    margin: 0; margin-bottom: 2px;
}