<div *ngIf="app.srcImgBg=='fondo2'" class="fondo-img" style="position: absolute; bottom: 0; z-index: 1;">
    <img [src]="'./assets/img/'+app.srcImgBg+'.png'" alt="">
</div>
<div *ngIf="app.srcImgBg=='fondo1'" class="fondo-img1" style="position: absolute; bottom: 0; z-index: 1;">
    <img  [src]="'./assets/img/'+app.srcImgBg+'.png'" alt="">
</div>
<div *ngIf="app.srcImgBg=='fondo3'" class="fondo-img" style="position: absolute; bottom: 0; right: 0; z-index: 1;">
    <img  [src]="'./assets/img/'+app.srcImgBg+'.png'" alt="">
</div>
<div style="position: absolute; width: 100%; z-index: 2;">
    <router-outlet></router-outlet>
</div>