.fondo-img img{
    width: 1250px
}

.fondo-img1 img{
    width: 1600px
}

@media (max-width: 1445px) {
    .fondo-img img{
        width: 1050px
    }
    
    .fondo-img1 img{
        width: 1000px
    }
}