.title-home{
    font-size: 50px; 
    padding-top: 20px; 
    padding-bottom: 15px;
}

.sub-title-home{
    font-size: 25px; 
    padding-bottom: 50px; 
    padding-top: 15px;
}

.content-img img{
    width: calc(90% - 20px);
    height: auto;
    max-width: 895px;
    max-height: 388px;
}

@media (max-width: 1445px) {
    
}
  