<div class="contenedor text-center petit-formal-script ">

    <div class="title-home" >
        <span>Serrano Developer</span>
    </div>
    <div class="sub-title-home" >
        <span>portafolio de desarrollador</span>
    </div>
    <div class="content-img">
        <img [src]="app.urlImages+'img/home.png'" onerror="this.src='./assets/img/noImage.png';"alt="">
    </div>
</div>