/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Petit Formal Script";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/PetitFormalScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

.underlined{
    text-decoration: underline;
}
  
.petit-formal-script {
    font-family: "Petit Formal Script", sans-serif !important;
}

.montserrat-bold {
    font-family: "Montserrat Bold", sans-serif !important;
}

.montserrat-regular {
    font-family: "Montserrat Regular", sans-serif !important;
}

body{
    background-color: #E2E4E5;
    margin: 0 !important;
}

.contenedor-nav {
    width: 90%;
    margin: 0 auto;
}

.contenedor {
    width: 70%;
    margin: 0 auto;
}

.nav {
    width: 100%;
    display: flex;
    color: #000;
    padding: 10px 0;
    padding-top: 100px;
}

.nav .item-nav {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #000;
}

.nav .item-nav:hover {
   text-decoration: underline;
}

.active{
    color: blue;
}

.text-center{
    text-align: center;
}